body {
	font-size: 10vmin;
	text-align: center;
}

table {
	margin: auto;
}

input {
	width: 16.67vmin;
	height: 16.67vmin;
	font-size: 10vmin;
	font-weight: bold;
	background-color: lightgray;
	border-radius: 1.67vmin;
}

input.text {
	width: 50vmin;
	text-align: center;
	background-color: white;
}

input.ok {
	color: white;
	background-color: darkgreen;
}

input.clear {
	color: white;
	background-color: red;
}

input.back {
	color: white;
	background-color: blue;
}

input#tax {
	color: white;
	background-color: darkcyan;
}

input#sign {
	font-size: 4vmin;
}
